include CHANGES.rst
include CONTRIBUTION.md
include README.md
include LICENSE
include tests/*.py
include tests/assets/*
include example*.py
include requirements*.txt
include doc/*
global-exclude *~ *.bak
