name: build

on: [push, pull_request]

jobs:
  cs:
    name: Coding style checks
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.8
      uses: actions/setup-python@v3
      with:
        python-version: '3.8'
    - uses: Gr1N/setup-poetry@v7
    - name: Bootstrap environment
      run: |
        make dev EXTRAS=test
    - name: Lint
      run: |
        make cs mypy

  test:
    name: Test with python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.6', '3.7', '3.8', '3.9', '3.10']

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - uses: Gr1N/setup-poetry@v7
    - name: Bootstrap test environment
      run: |
        make dev EXTRAS=test
    - name: Test
      run: |
        make cov
    - name: Codecov upload
      uses: codecov/codecov-action@v3
